html{
    background-color: beige;
    height: 100%;
}

.h1{
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#container{
    height: 325;
    width: 350;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 75px 75px 75px 75px;
    grid-template-areas: ".bill-amount"
    ".tip-percentage"
    "tip-amount"
    ".total-amount"
    "btn btn";
    margin: 0 auto;
    border:5px solid yellow;
    padding: 25px ;
}

#btn{
    grid-area: btn;
    height: 25px;
    width: auto;
}